body,
#mainNav a,
#mainNav .navbar-toggler,
.content-section,
#mainNav .nav-link.active,
div.separator,
.border-gradient {
    transition: 
        color 0.6s linear,
        border-color 0.2s linear,
        background-color 0.2s linear,
        border-image-source 1s linear;
}

[data-theme="light"] {
    background-color: white !important;
    color: black !important;
}

[data-theme="light"] #mainNav.navbar-shrink,
[data-theme="light"] .content-section {
    background-color: white !important;
}

[data-theme="light"] #mainNav a,
[data-theme="light"] #arrow {
    color: black !important;
}

[data-theme="light"] #mainNav .nav-link.active {
    background-color: rgb(0,0,0,0.1);
}

[data-theme="light"] .btn-circle {
    color: black !important;
    border-color: black !important;
}

[data-theme="light"] .btn-default {
    color: rgba(69,97,210,1) !important;
}

[data-theme="light"] .btn-default:hover {
    color: white !important;
}

[data-theme="light"] .btn-primary {
    color: white !important;
}

[data-theme="light"] div.separator {
    background: linear-gradient(90deg, #f57f48 0%, #f57f48 5%, #eee 5%, #eee 95%, #dd5bb0 95%, #dd5bb0 100%) !important;
}

[data-theme="light"] .border-gradient {
    border-image-source: linear-gradient(90deg, #f57f48 0%, #dd5bb0 100%) !important;
}

[data-theme="light"] header.cover #sunsetSun,
[data-theme="light"] header.cover #sunsetWater,
[data-theme="light"] header.cover #sunsetBoat {
    opacity: 100%;
}

[data-theme="light"] header.cover #grindelwaldSky,
[data-theme="light"] header.cover #grindelwaldMountain {
    opacity: 0%;
}

[data-theme="light"] .card {
    background-color: #eee;
    color: black;
}

[data-theme="light"] .card a.more {
    color: black
}

[data-theme="light"] .card a.more:hover {
    color: rgba(0, 0, 0, 0.5);
}

[data-theme="light"] .bg-primary {
    background-color: #f57f48 !important;
}

[data-theme="light"] .bg-secondary {
    background-color: #dd5bb0 !important;
}

[data-theme="light"] .bg-grey {
    background-color: rgba(0, 0, 0, 0.3);
}

[data-theme="light"] .card ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 991px) {
    [data-theme="light"] #mainNav {
        background-color: white !important;
    }
    [data-theme="light"] #mainNav .navbar-toggler {
        color: black !important;
        border-color: black !important;
    }
}