/*
==============================
Transition
==============================
*/
body,
#mainNav a,
#mainNav .navbar-toggler,
.content-section,
.about-section,
#mainNav .nav-link.active {
    transition: 
        color 0.6s linear,
        border-color 0.2s linear,
        background-color 0.2s linear;
}
div.separator {
    transition: background-color 1s linear !important;
}

/*
==============================
Generic
==============================
*/
[data-theme="light"] {
    background-color: white !important;
    color: black !important;
}

[data-theme="light"] .bg-primary {
    background-color: #f57f48 !important;
}

[data-theme="light"] .bg-secondary {
    background-color: #dd5bb0 !important;
}

[data-theme="light"] .bg-grey {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

[data-theme="light"] .img-thumbnail {
    background: linear-gradient(90deg, #f57f4855 0%, #dd5bb044 100%) !important;
}

[data-theme="light"] .border-gradient {
    border-image-source: linear-gradient(90deg, #f57f48 0%, #dd5bb0 100%) !important;
}

[data-theme="light"] .btn-circle {
    color: black !important;
    border-color: black !important;
}

[data-theme="light"] .btn-default {
    color: rgba(69,97,210,1) !important;
}

[data-theme="light"] .btn-default:hover {
    color: white !important;
}

[data-theme="light"] .btn-primary {
    color: white !important;
}

/*
==============================
Layout
==============================
*/
[data-theme="light"] .content-section {
    background-color: #eee !important;
}

[data-theme="light"] div.separator {
    background-image: linear-gradient(90deg, #f57f48 0%, #f57f48 5%, white 5%, white 95%, #dd5bb0 95%, #dd5bb0 100%) !important;
}

/* 
==============================
Navbar
==============================
*/
[data-theme="light"] #mainNav.navbar-shrink,
[data-theme="light"] .about-section {
    background-color: white !important;
}

[data-theme="light"] #mainNav a {
    color: black !important;
}

[data-theme="light"] #mainNav .nav-link.active {
    background-color: rgb(0,0,0,0.1) !important;
}

/* 
==============================
Front cover
==============================
*/
[data-theme="light"] header.cover #sunsetSun,
[data-theme="light"] header.cover #sunsetWater,
[data-theme="light"] header.cover #sunsetBoat {
    opacity: 100% !important;
}

[data-theme="light"] header.cover #grindelwaldSky,
[data-theme="light"] header.cover #grindelwaldMountain {
    opacity: 0% !important;
}

[data-theme="light"] #arrow {
    color: black !important;
}

[data-theme="light"] #me {
    filter: brightness(140%) contrast(80%);
}

/* 
==============================
Project card
==============================
*/
[data-theme="light"] .card {
    background-color: white !important;
    color: black !important;
}

[data-theme="light"] .card .more {
    color: black !important
}

[data-theme="light"] .card a.more:hover {
    color: rgba(0, 0, 0, 0.5) !important;
}

[data-theme="light"] .card ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

[data-theme="light"] .card .btn-carousel .carousel-control-prev-icon,
[data-theme="light"] .card .btn-carousel .carousel-control-next-icon {
    filter: brightness(0) !important;
}

/* 
==============================
Mobile
==============================
*/
@media only screen and (max-width: 991px) {
    [data-theme="light"] #mainNav {
        background-color: white !important;
    }
    [data-theme="light"] #mainNav .navbar-toggler {
        color: black !important;
        border-color: black !important;
    }
    .about-section, [data-theme="light"] .about-section {
        background-color: transparent !important;
    }
}